In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
data = pd.read_csv('india_job_market_dataset.csv')
df = data
print(df.head(5))

  Job ID            Job Title Company Name Job Location    Job Type  \
0   JOB1    Software Engineer       Amazon    Ahmedabad   Full-time
1   JOB2  Marketing Executive      Infosys    Ahmedabad  Internship
2   JOB3    Financial Analyst     Deloitte       Jaipur    Contract
3   JOB4     Business Analyst       Amazon        Delhi   Full-time
4   JOB5    Software Engineer      Infosys        Delhi   Full-time

  Salary Range Experience Required Posted Date Application Deadline  \
0      5-8 LPA           2-5 years  2025-01-16           2025-01-25
1      5-8 LPA           2-5 years  2024-12-25           2025-01-19
2      20+ LPA          5-10 years  2025-01-22           2025-01-29
3      20+ LPA           2-5 years  2025-01-07           2025-02-06
4    12-20 LPA           10+ years  2024-12-26           2025-01-08

   Job Portal  Number of Applicants Education Requirement  \
0    LinkedIn                    23                   PhD
1      Indeed                   462                   MBA
2  Naukri.com                   430                M.Tech
3    LinkedIn                   387                B.Tech
4      Indeed                   199                   MBA

                  Skills Required Remote/Onsite  Company Size
0                C++, SQL, Python        Remote  Small (1-50)
1                SQL, C++, Python        Remote  Large (500+)
2  Machine Learning, Excel, React        Remote  Large (500+)
3   Machine Learning, Python, SQL        Hybrid  Small (1-50)
4                UI/UX, C++, Java        Onsite  Small (1-50)

In [3]:
print("\nDataset Info:")
data.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job ID                 20000 non-null  object
 1   Job Title              20000 non-null  object
 2   Company Name           20000 non-null  object
 3   Job Location           20000 non-null  object
 4   Job Type               20000 non-null  object
 5   Salary Range           20000 non-null  object
 6   Experience Required    20000 non-null  object
 7   Posted Date            20000 non-null  object
 8   Application Deadline   20000 non-null  object
 9   Job Portal             20000 non-null  object
 10  Number of Applicants   20000 non-null  int64
 11  Education Requirement  20000 non-null  object
 12  Skills Required        20000 non-null  object
 13  Remote/Onsite          20000 non-null  object
 14  Company Size           20000 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.3+ MB

In [4]:
print("Missing values: \n")
print(data.isnull().sum())

Missing values:

Job ID                   0
Job Title                0
Company Name             0
Job Location             0
Job Type                 0
Salary Range             0
Experience Required      0
Posted Date              0
Application Deadline     0
Job Portal               0
Number of Applicants     0
Education Requirement    0
Skills Required          0
Remote/Onsite            0
Company Size             0
dtype: int64

In [5]:
print("\nSummary Statistics:")
print(data.describe())

Summary Statistics:
       Number of Applicants
count          20000.000000
mean             256.723300
std              141.745833
min               10.000000
25%              134.000000
50%              258.000000
75%              380.000000
max              500.000000

In [6]:
print("\nColumns in the dataset:")
print(data.columns)

Columns in the dataset:
Index(['Job ID', 'Job Title', 'Company Name', 'Job Location', 'Job Type',
       'Salary Range', 'Experience Required', 'Posted Date',
       'Application Deadline', 'Job Portal', 'Number of Applicants',
       'Education Requirement', 'Skills Required', 'Remote/Onsite',
       'Company Size'],
      dtype='object')

In [8]:
df = pd.DataFrame(data)
print("Sample Dataset:\n", df)

Sample Dataset:
          Job ID             Job Title Company Name Job Location    Job Type  \
0          JOB1     Software Engineer       Amazon    Ahmedabad   Full-time
1          JOB2   Marketing Executive      Infosys    Ahmedabad  Internship
2          JOB3     Financial Analyst     Deloitte       Jaipur    Contract
3          JOB4      Business Analyst       Amazon        Delhi   Full-time
4          JOB5     Software Engineer      Infosys        Delhi   Full-time
...         ...                   ...          ...          ...         ...
19995  JOB19996   Marketing Executive     Deloitte         Pune   Full-time
19996  JOB19997      Business Analyst    Accenture    Bangalore  Internship
19997  JOB19998      Graphic Designer        Wipro       Jaipur   Part-time
19998  JOB19999  Sales Representative      Infosys      Kolkata  Internship
19999  JOB20000      Business Analyst    Accenture       Mumbai   Part-time

      Salary Range Experience Required Posted Date Application Deadline  \
0          5-8 LPA           2-5 years  2025-01-16           2025-01-25
1          5-8 LPA           2-5 years  2024-12-25           2025-01-19
2          20+ LPA          5-10 years  2025-01-22           2025-01-29
3          20+ LPA           2-5 years  2025-01-07           2025-02-06
4        12-20 LPA           10+ years  2024-12-26           2025-01-08
...            ...                 ...         ...                  ...
19995      5-8 LPA           2-5 years  2025-01-13           2025-02-05
19996      20+ LPA           0-2 years  2025-01-08           2025-01-27
19997      5-8 LPA          5-10 years  2024-12-26           2025-01-16
19998    12-20 LPA           2-5 years  2025-01-20           2025-02-09
19999      5-8 LPA           0-2 years  2024-12-30           2025-01-13

       Job Portal  Number of Applicants Education Requirement  \
0        LinkedIn                    23                   PhD
1          Indeed                   462                   MBA
2      Naukri.com                   430                M.Tech
3        LinkedIn                   387                B.Tech
4          Indeed                   199                   MBA
...           ...                   ...                   ...
19995      Indeed                   171                   PhD
19996    LinkedIn                   482                   MBA
19997  Naukri.com                   319                   PhD
19998  Naukri.com                   178                M.Tech
19999      Indeed                    88                  B.Sc

                                  Skills Required Remote/Onsite  \
0                                C++, SQL, Python        Remote
1                                SQL, C++, Python        Remote
2                  Machine Learning, Excel, React        Remote
3                   Machine Learning, Python, SQL        Hybrid
4                                UI/UX, C++, Java        Onsite
...                                           ...           ...
19995               Machine Learning, Python, AWS        Remote
19996  Digital Marketing, React, Machine Learning        Onsite
19997  Machine Learning, Excel, Digital Marketing        Onsite
19998                           Excel, C++, React        Onsite
19999                           Java, C++, Python        Remote

          Company Size
0         Small (1-50)
1         Large (500+)
2         Large (500+)
3         Small (1-50)
4         Small (1-50)
...                ...
19995     Small (1-50)
19996  Medium (51-500)
19997     Small (1-50)
19998     Large (500+)
19999  Medium (51-500)

[20000 rows x 15 columns]

printing diff counts

In [21]:
print("\n Job Titles and no. of requirements:")
job_title_counts = df['Job Title'].value_counts()
print(job_title_counts)

 Job Titles and no. of requirements:
Cyber Security Analyst    2085
Marketing Executive       2036
Graphic Designer          2013
Financial Analyst         2008
Product Manager           2006
Business Analyst          1989
Data Scientist            1976
HR Manager                1974
Software Engineer         1971
Sales Representative      1942
Name: Job Title, dtype: int64

In [24]:
print("\n Job Location and no. of requirement their:")
job_location_counts = df['Job Location'].value_counts()
print(job_location_counts)

 Job Location and no. of requirement their:
Hyderabad    2055
Bangalore    2023
Ahmedabad    2019
Jaipur       2019
Chennai      2018
Noida        1993
Delhi        1990
Pune         1970
Mumbai       1958
Kolkata      1955
Name: Job Location, dtype: int64

In [23]:
print("\n Job type and no. of availability")
job_type_counts = df['Job Type'].value_counts()
print(job_type_counts)

 Job type and no. of availability
Part-time     5111
Internship    5085
Full-time     4981
Contract      4823
Name: Job Type, dtype: int64

In [25]:
print("\n Company name and  and no. of Job there:")
company_name_counts = df['Company Name'].value_counts()
print(company_name_counts)

 Company name and  and no. of Job there:
Amazon       2086
Wipro        2069
HCL          2023
Google       2004
Deloitte     1983
Infosys      1981
TCS          1979
Microsoft    1977
Accenture    1954
IBM          1944
Name: Company Name, dtype: int64

In [40]:
print("\n Company name and education requiremnet there:")

company_name_and_education_requirement = df.groupby(['Company Name', 'Education Requirement']).size()

print(company_name_and_education_requirement)

 Company name and education requiremnet there:
Company Name  Education Requirement
Accenture     B.Sc                     392
              B.Tech                   398
              M.Tech                   397
              MBA                      401
              PhD                      366
Amazon        B.Sc                     416
              B.Tech                   413
              M.Tech                   397
              MBA                      437
              PhD                      423
Deloitte      B.Sc                     400
              B.Tech                   383
              M.Tech                   418
              MBA                      363
              PhD                      419
Google        B.Sc                     413
              B.Tech                   414
              M.Tech                   414
              MBA                      404
              PhD                      359
HCL           B.Sc                     413
              B.Tech                   427
              M.Tech                   371
              MBA                      403
              PhD                      409
IBM           B.Sc                     369
              B.Tech                   401
              M.Tech                   386
              MBA                      401
              PhD                      387
Infosys       B.Sc                     409
              B.Tech                   392
              M.Tech                   396
              MBA                      393
              PhD                      391
Microsoft     B.Sc                     409
              B.Tech                   389
              M.Tech                   365
              MBA                      416
              PhD                      398
TCS           B.Sc                     396
              B.Tech                   384
              M.Tech                   399
              MBA                      370
              PhD                      430
Wipro         B.Sc                     406
              B.Tech                   413
              M.Tech                   440
              MBA                      398
              PhD                      412
dtype: int64

In [41]:
print("\n Company name and remote/onsite there:")

company_name_and_remote_onsite = df.groupby(['Company Name', 'Remote/Onsite']).size()

print(company_name_and_remote_onsite)

 Company name and remote/onsite there:
Company Name  Remote/Onsite
Accenture     Hybrid           617
              Onsite           682
              Remote           655
Amazon        Hybrid           689
              Onsite           710
              Remote           687
Deloitte      Hybrid           621
              Onsite           681
              Remote           681
Google        Hybrid           659
              Onsite           656
              Remote           689
HCL           Hybrid           691
              Onsite           684
              Remote           648
IBM           Hybrid           625
              Onsite           642
              Remote           677
Infosys       Hybrid           608
              Onsite           669
              Remote           704
Microsoft     Hybrid           630
              Onsite           655
              Remote           692
TCS           Hybrid           709
              Onsite           651
              Remote           619
Wipro         Hybrid           712
              Onsite           667
              Remote           690
dtype: int64

In [42]:
print("\n Company name and Job type available there:")

company_name_and_job_typecounts = df.groupby(['Company Name', 'Job Type']).size()

print(company_name_and_job_typecounts)

 Company name and Job type available there:
Company Name  Job Type
Accenture     Contract      476
              Full-time     503
              Internship    516
              Part-time     459
Amazon        Contract      469
              Full-time     529
              Internship    551
              Part-time     537
Deloitte      Contract      502
              Full-time     491
              Internship    496
              Part-time     494
Google        Contract      458
              Full-time     496
              Internship    510
              Part-time     540
HCL           Contract      524
              Full-time     513
              Internship    475
              Part-time     511
IBM           Contract      470
              Full-time     475
              Internship    492
              Part-time     507
Infosys       Contract      483
              Full-time     487
              Internship    521
              Part-time     490
Microsoft     Contract      488
              Full-time     447
              Internship    509
              Part-time     533
TCS           Contract      466
              Full-time     501
              Internship    488
              Part-time     524
Wipro         Contract      487
              Full-time     539
              Internship    527
              Part-time     516
dtype: int64

In [36]:
print("\n ob Portal and Job Location:")

job_portal_and_job_location_counts = df.groupby(['Job Portal', 'Job Location']).size()

print(job_portal_and_job_location_counts)

 ob Portal and Job Location:
Job Portal  Job Location
Indeed      Ahmedabad       715
            Bangalore       682
            Chennai         670
            Delhi           692
            Hyderabad       677
            Jaipur          685
            Kolkata         639
            Mumbai          660
            Noida           669
            Pune            667
LinkedIn    Ahmedabad       632
            Bangalore       661
            Chennai         630
            Delhi           655
            Hyderabad       656
            Jaipur          657
            Kolkata         640
            Mumbai          638
            Noida           638
            Pune            646
Naukri.com  Ahmedabad       672
            Bangalore       680
            Chennai         718
            Delhi           643
            Hyderabad       722
            Jaipur          677
            Kolkata         676
            Mumbai          660
            Noida           686
            Pune            657
dtype: int64

In [37]:
from collections import Counter

# Sample data (replace with the extracted text from your image)
text_data = """
Skills Required
C++, SQL, Python
SQL, C++, Python
arning, Excel, React
earning, Python, SQL
UI/UX, C++, Java
earning, Python, AWS
ct, Machine Learning
1, Digital Marketing
Excel, C++, React
Java, C++, Python
"""

# Split the text into lines and extract skills
skills = []
for line in text_data.splitlines():
    words = line.split()
    skills.extend(words)  # Add all words to the list directly

# Remove duplicates
distinct_skills = list(set(skills))

print("Distinct Skills:")
print(distinct_skills)

Distinct Skills:
['Digital', 'Excel,', 'earning,', 'ct,', '1,', 'Java,', 'Marketing', 'C++,', 'AWS', 'Java', 'Python,', 'React', 'Required', 'Skills', 'Machine', 'SQL', 'Learning', 'SQL,', 'UI/UX,', 'Python', 'arning,']